@media (max-width: 767px) {
    body {
      font-size: 16px;
    }
    /* Other mobile-specific styles */
  }
  
  /* Styles for desktop devices (screens 768px wide or larger) */
  @media (min-width: 768px) {
    body {
      font-size: 18px;
    }
    /* Other desktop-specific styles */
  }




*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color:	#DC143C;
}
.contact{
     width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg,#00feba,#5b548a);
    color:#fff;
    margin:100px auto 0;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;


}
.link{
    width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex; 
  justify-content: center;
  margin:100px auto 0;
  align-items: center;
  color: white; 
  font-weight: bold;
  gap: 20px;
  
}
